[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
PyQt6 = "==6.7.1"
pydantic = "==2.9.2"
mido = "*"
pygame = "*"
sounddevice = "==0.5.1"
numpy = "==2.1.3"
scipy = "==1.14.1"
python-dotenv = "==1.0.1"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"
